body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lang-select {
  display: flex;
  align-items: center;
}
.lang-select select {
  border: none;
  color: white;
  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
}
