body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lang-select {
  display: flex;
  align-items: center;
}
.lang-select select {
  border: none;
  color: white;
  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
}

.rtl-text {
  text-align: right !important;
}
.rtl-float-left {
  float: left !important;
}
.rtl-float-left .btn-alt {
  margin-right: 20px !important;
}
.rtl-features-card {
  padding-right: 100px !important;
  padding-left: 0;
}
.rtl-f-icon {
  right: 0 !important;
}
.rtl-popular {
  right: auto !important;
  left: 20px !important;
}
.rtl-pricing-table {
  text-align: right !important;
}
.rtl-pricing-list li {
  padding-left: 0px;
  padding-right: 25px;
}
.rtl-pricing-list li::before {
  right: 0 !important;
}
.rtl-nav-header {
  gap: 20px;
  position: absolute;
  text-align: start;
  right: 0;
}

.rtl-social li:first-child {
  margin-right: 0px !important;
}

.rtl-social li:last-child {
  margin-right: 20px !important;
}

@media only screen and (max-width: 767px) {
  /* Your small device styles here */
  .lang-select select {
    color: black !important;
    padding: 10px 16px;
  }
  .rtl-float-left {
    float: none !important;
  }
  .navbar-collapse {
    height: 50vh;
  }
}
